<div class="row">
    <div class="col">
        <div style="max-height: 500px; overflow-y: scroll;">
            <table class="table" id="tbl">
                <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
                    <tr>
                        <th scope="col">Customer-ID</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Customer Address</th>
                        <th scope="col">Customer Email</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let customer of customers">
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col">
        <form (ngSubmit)="addCustomer()">
            <h1 class="h3 mb-3 fw-normal">Add New Customer</h1>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Name" placeholder="Name" [(ngModel)]="customer.name" name="name" required>
                <label for="Name">Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Address" placeholder="Address" [(ngModel)]="customer.address" name="address" required>
                <label for="Address">Address</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="Email" placeholder="Email address" [(ngModel)]="customer.email" name="email" required>
                <label for="Email">Email address</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Add Customer</button>
        </form>
    </div>
</div>