<div class="row">
    <nav class="navbar navbar-expand-lg w-100">
        <div class="container-fluid px-5">
            <a class="navbar-brand fw-semibold text-secondary-emphasis fs-3" href="#"
                routerLink="/user-main/user-dashboard">
                <i class="bi bi-currency-dollar text-primary"></i> Evenly
            </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="d-flex align-items-center">

                    <div ngbDropdown class="dropdown text-end mx-5 clickable">
                        <a ngbDropdownToggle class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                            id="userDropdown" aria-expanded="false">
                            <img src="user.png" alt="User Profile" width="32" height="32" class="rounded-circle">
                            {{user.name}}
                        </a>

                        <ul ngbDropdownMenu aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="#" routerLink="/user-main/user-profile">Profile</a></li>

                            <li><a class="dropdown-item" href="#" (click)="signOut()">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</div>