<app-nav-bar></app-nav-bar>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card p-5 w-100">
        <div class="row">
            <div class="col">
                <div class="row text-center">
                    <div class="d-flex justify-content-center w-75">
                        <img [src]="mainImage" class="img-fluid" alt="Main Image">
                    </div>
                </div>

                <div class="row">
                    <div class="px-5">
                        <h1 class="display-6 fw-bold mb-3">
                            {{ mainTitle }}
                        </h1>
                        <p class="mb-4 text-muted">{{ mainDescription }}</p>
                        <div class="d-flex align-items-center mb-4">

                            <i class="bi bi-airplane-fill text-success fs-1 me-3 icon-clickable"
                                (click)="updateContent('on trips.', 'Easily share expenses during trips.', 'travel.png')"></i>
                            <i class="bi bi-house-fill text-primary fs-1 me-3 icon-clickable"
                                (click)="updateContent('at home.', 'Manage expenses with housemates.', 'house.png')"></i>
                            <i class="bi bi-heart-fill text-danger fs-1 me-3 icon-clickable"
                                (click)="updateContent('with loved ones.', 'Track shared expenses with friends and family.', 'family.png')"></i>
                            <i class="bi bi-asterisk text-secondary fs-1 icon-clickable"
                                (click)="updateContent('for groups.', 'Handle group expenses smoothly.', 'group.png')"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-semibold mt-sm-5 mb-3">
                        <i class="bi bi-currency-dollar text-primary"></i> Evenly
                    </h1>
                </div>
                <form>

                    <h3 class="font-weight-bold text-secondary mb-3">Introduce Yourself</h3>
                    <div class="form-group mb-4">
                        <label for="name" class="h5">Hi there! My name is</label>
                        <input type="text" class="form-control" id="name" placeholder="Your Name" name="name"
                            [(ngModel)]="signUser.name" required>
                    </div>


                    <div class="form-group">
                        <label for="email" class="h5">Here’s my email address:</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email"
                            [(ngModel)]="signUser.email" required>
                    </div>
                    <div #emailMsg class="mt-1 mx-1"></div>

                    <div class="form-group mt-4">
                        <label for="password" class="h5">And here’s my password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                            [(ngModel)]="signUser.password" required>
                            Your password should be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character (e.g., &#64;, $, !, %, *, ?, &).
                            <p class="text mt-3 small"></p>
                    </div>
                    <div #passwordMsg class="mt-1 mx-1 mb-4"></div>

                    <div class="text-center">

                        <button type="button" class="btn btn-primary btn-block w-50"
                            [disabled]="!signUser.email || !signUser.password" (click)="signUp()">Sign me up!</button>


                        <p class="text mt-3 small">
                            By signing up, you accept the Terms of Service of Evenly.<br>
                            Current currency is USD; conversion of currencies is being implemented.
                        </p>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>